# 忽略数据库数据
mysql_data/

# 忽略环境变量文件
.env

# 忽略日志文件
*.log
*.zip

# 忽略编辑器配置
.idea/
.vscode/

# 忽略依赖目录
vendor/
node_modules/

# conflict file
.htaccess
.user.ini
favicon.ico
nginx.htaccess
install.lock


# addons/mdkeji_im 为独立 Git 项目，本仓库不包含
/addons/mdkeji_im/

# attachment
/attachment/

# runtime
/runtime/

# app module（按需取消注释）
/app/uni_im/

/data/mysql/